.stats { 
  background-color: #202020;
  padding: 10px;
}
.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
}
.neumorfCard {
    border-radius: 20px;
    /* background: rgba(0, 0, 0, 0.85);
    box-shadow:  10px 5px 30px #201a1a, 
             -5px -5px 30px #030303; */
    width: 0px;
    height: 100%;
    display: flex;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    /* box-shadow: inset -30px 30px 60px #202020; */
    box-shadow: inset -10px 10px 20px RGBA(90,105,125,0.05),
    inset 10px -10px 20px RGBA(90,105,125,0.05);
-webkit-animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: all 1s;
}

.chartDetails {
display: flex;
}
.chartDetails-info {
    padding: 10px;
    color : #fff;
    font-size: 1rem;
}

.arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 9px;
    margin: 10px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .toogleStats {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  accorion-line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* ANIMATIONS */

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
              opacity: 1;
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
              opacity: 1;
    }
  }

  @media (max-width: 1040px) { 
    .charts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .circle {
        transform: rotateZ(90deg);
    }

    .neumorfCard {
        border-radius: 20px;
        width: 300px !important;
        height: 100%;
        display: flex;
        padding: 5px;
        margin: 5px;
        box-sizing: border-box;
        transition: all 2s;
    }
    .toogleStats {
        width:100%;
    }
    

    /* ANIMATIONS */

    @-webkit-keyframes slide-right {
        0% {
          -webkit-transform: translateY(-10px);
                  transform: translateY(-10px);
                  opacity: 0;
        }
        100% {
          -webkit-transform: translateY(10px);
                  transform: translateY(10px);
                  opacity: 1;
        }
      }
      @keyframes slide-right {
        0% {
          -webkit-transform: translateY(-10px);
                  transform: translateY(-10px);
                  opacity: 0;
        }
        100% {
          -webkit-transform: translateY(10px);
                  transform: translateY(10px);
                  opacity: 1;
        }
      }
   }