[class*="single-card__picture"]:before{
    content: '';
    position: absolute;
    top: 0px;
    left: -50px;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.14);
    /* z-index: 10; */
    transform: skewX(-45deg);
    box-shadow: 5px 5px 5px rgba(250, 255, 184, 0.14);
    overflow: hidden;
    transition: 0.5s;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
/* ANIMATIONS */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: skewX(-45deg);
              transform: skewX(-45deg);
    }
    100% {
      -webkit-transform: skewX(-45deg);
              transform: skewX(-45deg);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: skewX(-45deg);
              transform: skewX(-45deg);
    }
    100% {
      -webkit-transform: skewX(-45deg);
              transform: skewX(-45deg);
    }
  }